.c3 svg {
  font: 10px sans-serif;
  -webkit-tap-highlight-color: transparent; }

.c3 line, .c3 path {
  fill: none;
  stroke: #000; }

.c3 text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none; }

.c3-bars path, .c3-event-rect, .c3-legend-item-tile, .c3-xgrid-focus, .c3-ygrid {
  shape-rendering: crispEdges; }

.c3-chart-arc path {
  stroke: #fff; }

.c3-chart-arc text {
  fill: #fff;
  font-size: 13px; }

.c3-grid line {
  stroke: #aaa; }

.c3-grid text {
  fill: #aaa; }

.c3-xgrid, .c3-ygrid {
  stroke-dasharray: 3 3; }

.c3-text.c3-empty {
  fill: gray;
  font-size: 2em; }

.c3-line {
  stroke-width: 1px; }

.c3-circle._expanded_ {
  stroke-width: 1px;
  stroke: #fff; }

.c3-selected-circle {
  fill: #fff;
  stroke-width: 2px; }

.c3-bar {
  stroke-width: 0; }

.c3-bar._expanded_ {
  fill-opacity: .75; }

.c3-target.c3-focused {
  opacity: 1; }

.c3-target.c3-focused path.c3-line, .c3-target.c3-focused path.c3-step {
  stroke-width: 2px; }

.c3-target.c3-defocused {
  opacity: 0.3 !important; }

.c3-region {
  fill: #4682b4;
  fill-opacity: .1; }

.c3-brush .extent {
  fill-opacity: .1; }

.c3-legend-item {
  font-size: 12px; }

.c3-legend-item-hidden {
  opacity: .15; }

.c3-legend-background {
  opacity: .75;
  fill: #fff;
  stroke: #d3d3d3;
  stroke-width: 1; }

.c3-title {
  font: 14px sans-serif; }

.c3-tooltip-container {
  z-index: 10; }

.c3-tooltip {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  empty-cells: show;
  -webkit-box-shadow: 7px 7px 12px -9px #777;
  box-shadow: 7px 7px 12px -9px #777;
  opacity: .9; }

.c3-tooltip tr {
  border: 1px solid #CCC; }

.c3-tooltip th {
  background-color: #aaa;
  font-size: 14px;
  padding: 2px 5px;
  text-align: left;
  color: #FFF; }

.c3-tooltip td {
  font-size: 13px;
  padding: 3px 6px;
  background-color: #fff;
  border-left: 1px dotted #999; }

.c3-tooltip td > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px; }

.c3-tooltip td.value {
  text-align: right; }

.c3-area {
  stroke-width: 0;
  opacity: .2; }

.c3-chart-arcs-title {
  dominant-baseline: middle;
  font-size: 1.3em; }

.c3-chart-arcs .c3-chart-arcs-background {
  fill: #e0e0e0;
  stroke: none; }

.c3-chart-arcs .c3-chart-arcs-gauge-unit {
  fill: #000;
  font-size: 16px; }

.c3-chart-arcs .c3-chart-arcs-gauge-max, .c3-chart-arcs .c3-chart-arcs-gauge-min {
  fill: #777; }

.c3-chart-arc .c3-gauge-value {
  fill: #000; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImMzLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUFRLHNCQUFvQjtFQUFFLHlDQUF1QyxFQUFHOztBQUFEO0VBQWtCLFdBQVM7RUFBRSxhQUFXLEVBQUc7O0FBQUQ7RUFBUywwQkFBd0I7RUFBRSx1QkFBcUI7RUFBRSxzQkFBZ0I7TUFBaEIsa0JBQWdCLEVBQUc7O0FBQUQ7RUFBNEUsNEJBQTBCLEVBQUc7O0FBQUQ7RUFBbUIsYUFBVyxFQUFHOztBQUFEO0VBQW1CLFdBQVM7RUFBRSxnQkFBYyxFQUFHOztBQUFEO0VBQWMsYUFBVyxFQUFHOztBQUFEO0VBQWMsV0FBUyxFQUFHOztBQUFEO0VBQW9CLHNCQUFvQixFQUFHOztBQUFEO0VBQWtCLFdBQVM7RUFBRSxlQUFhLEVBQUc7O0FBQUQ7RUFBUyxrQkFBZ0IsRUFBRzs7QUFBRDtFQUFzQixrQkFBZ0I7RUFBRSxhQUFXLEVBQUc7O0FBQUQ7RUFBb0IsV0FBUztFQUFFLGtCQUFnQixFQUFHOztBQUFEO0VBQVEsZ0JBQWMsRUFBRzs7QUFBRDtFQUFtQixrQkFBZ0IsRUFBRzs7QUFBRDtFQUFzQixXQUFTLEVBQUc7O0FBQUQ7RUFBc0Usa0JBQWdCLEVBQUc7O0FBQUQ7RUFBd0Isd0JBQW9CLEVBQUU7O0FBQUQ7RUFBVyxjQUFZO0VBQUUsaUJBQWUsRUFBRzs7QUFBRDtFQUFrQixpQkFBZSxFQUFHOztBQUFEO0VBQWdCLGdCQUFjLEVBQUc7O0FBQUQ7RUFBdUIsYUFBVyxFQUFHOztBQUFEO0VBQXNCLGFBQVc7RUFBRSxXQUFTO0VBQUUsZ0JBQWM7RUFBRSxnQkFBYyxFQUFHOztBQUFEO0VBQVUsc0JBQW9CLEVBQUc7O0FBQUQ7RUFBc0IsWUFBVSxFQUFHOztBQUFEO0VBQVksMEJBQXdCO0VBQUUsa0JBQWdCO0VBQUUsdUJBQXFCO0VBQUUsa0JBQWdCO0VBQUUsMkNBQXlDO0VBQTBDLG1DQUFpQztFQUFFLFlBQVUsRUFBRzs7QUFBRDtFQUFlLHVCQUFxQixFQUFHOztBQUFEO0VBQWUsdUJBQXFCO0VBQUUsZ0JBQWM7RUFBRSxpQkFBZTtFQUFFLGlCQUFlO0VBQUUsWUFBVSxFQUFHOztBQUFEO0VBQWUsZ0JBQWM7RUFBRSxpQkFBZTtFQUFFLHVCQUFxQjtFQUFFLDZCQUEyQixFQUFHOztBQUFEO0VBQW9CLHNCQUFvQjtFQUFFLFlBQVU7RUFBRSxhQUFXO0VBQUUsa0JBQWdCLEVBQUc7O0FBQUQ7RUFBcUIsa0JBQWdCLEVBQUc7O0FBQUQ7RUFBUyxnQkFBYztFQUFFLFlBQVUsRUFBRzs7QUFBRDtFQUFxQiwwQkFBd0I7RUFBRSxpQkFBZSxFQUFHOztBQUFEO0VBQXlDLGNBQVk7RUFBRSxhQUFXLEVBQUc7O0FBQUQ7RUFBeUMsV0FBUztFQUFFLGdCQUFjLEVBQUc7O0FBQUQ7RUFBZ0YsV0FBUyxFQUFHOztBQUFEO0VBQThCLFdBQVMsRUFBRyIsImZpbGUiOiJjMy5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIuYzMgc3Zne2ZvbnQ6MTBweCBzYW5zLXNlcmlmOy13ZWJraXQtdGFwLWhpZ2hsaWdodC1jb2xvcjp0cmFuc3BhcmVudH0uYzMgbGluZSwuYzMgcGF0aHtmaWxsOm5vbmU7c3Ryb2tlOiMwMDB9LmMzIHRleHR7LXdlYmtpdC11c2VyLXNlbGVjdDpub25lOy1tb3otdXNlci1zZWxlY3Q6bm9uZTt1c2VyLXNlbGVjdDpub25lfS5jMy1iYXJzIHBhdGgsLmMzLWV2ZW50LXJlY3QsLmMzLWxlZ2VuZC1pdGVtLXRpbGUsLmMzLXhncmlkLWZvY3VzLC5jMy15Z3JpZHtzaGFwZS1yZW5kZXJpbmc6Y3Jpc3BFZGdlc30uYzMtY2hhcnQtYXJjIHBhdGh7c3Ryb2tlOiNmZmZ9LmMzLWNoYXJ0LWFyYyB0ZXh0e2ZpbGw6I2ZmZjtmb250LXNpemU6MTNweH0uYzMtZ3JpZCBsaW5le3N0cm9rZTojYWFhfS5jMy1ncmlkIHRleHR7ZmlsbDojYWFhfS5jMy14Z3JpZCwuYzMteWdyaWR7c3Ryb2tlLWRhc2hhcnJheTozIDN9LmMzLXRleHQuYzMtZW1wdHl7ZmlsbDpncmF5O2ZvbnQtc2l6ZToyZW19LmMzLWxpbmV7c3Ryb2tlLXdpZHRoOjFweH0uYzMtY2lyY2xlLl9leHBhbmRlZF97c3Ryb2tlLXdpZHRoOjFweDtzdHJva2U6I2ZmZn0uYzMtc2VsZWN0ZWQtY2lyY2xle2ZpbGw6I2ZmZjtzdHJva2Utd2lkdGg6MnB4fS5jMy1iYXJ7c3Ryb2tlLXdpZHRoOjB9LmMzLWJhci5fZXhwYW5kZWRfe2ZpbGwtb3BhY2l0eTouNzV9LmMzLXRhcmdldC5jMy1mb2N1c2Vke29wYWNpdHk6MX0uYzMtdGFyZ2V0LmMzLWZvY3VzZWQgcGF0aC5jMy1saW5lLC5jMy10YXJnZXQuYzMtZm9jdXNlZCBwYXRoLmMzLXN0ZXB7c3Ryb2tlLXdpZHRoOjJweH0uYzMtdGFyZ2V0LmMzLWRlZm9jdXNlZHtvcGFjaXR5Oi4zIWltcG9ydGFudH0uYzMtcmVnaW9ue2ZpbGw6IzQ2ODJiNDtmaWxsLW9wYWNpdHk6LjF9LmMzLWJydXNoIC5leHRlbnR7ZmlsbC1vcGFjaXR5Oi4xfS5jMy1sZWdlbmQtaXRlbXtmb250LXNpemU6MTJweH0uYzMtbGVnZW5kLWl0ZW0taGlkZGVue29wYWNpdHk6LjE1fS5jMy1sZWdlbmQtYmFja2dyb3VuZHtvcGFjaXR5Oi43NTtmaWxsOiNmZmY7c3Ryb2tlOiNkM2QzZDM7c3Ryb2tlLXdpZHRoOjF9LmMzLXRpdGxle2ZvbnQ6MTRweCBzYW5zLXNlcmlmfS5jMy10b29sdGlwLWNvbnRhaW5lcnt6LWluZGV4OjEwfS5jMy10b29sdGlwe2JvcmRlci1jb2xsYXBzZTpjb2xsYXBzZTtib3JkZXItc3BhY2luZzowO2JhY2tncm91bmQtY29sb3I6I2ZmZjtlbXB0eS1jZWxsczpzaG93Oy13ZWJraXQtYm94LXNoYWRvdzo3cHggN3B4IDEycHggLTlweCAjNzc3Oy1tb3otYm94LXNoYWRvdzo3cHggN3B4IDEycHggLTlweCAjNzc3O2JveC1zaGFkb3c6N3B4IDdweCAxMnB4IC05cHggIzc3NztvcGFjaXR5Oi45fS5jMy10b29sdGlwIHRye2JvcmRlcjoxcHggc29saWQgI0NDQ30uYzMtdG9vbHRpcCB0aHtiYWNrZ3JvdW5kLWNvbG9yOiNhYWE7Zm9udC1zaXplOjE0cHg7cGFkZGluZzoycHggNXB4O3RleHQtYWxpZ246bGVmdDtjb2xvcjojRkZGfS5jMy10b29sdGlwIHRke2ZvbnQtc2l6ZToxM3B4O3BhZGRpbmc6M3B4IDZweDtiYWNrZ3JvdW5kLWNvbG9yOiNmZmY7Ym9yZGVyLWxlZnQ6MXB4IGRvdHRlZCAjOTk5fS5jMy10b29sdGlwIHRkPnNwYW57ZGlzcGxheTppbmxpbmUtYmxvY2s7d2lkdGg6MTBweDtoZWlnaHQ6MTBweDttYXJnaW4tcmlnaHQ6NnB4fS5jMy10b29sdGlwIHRkLnZhbHVle3RleHQtYWxpZ246cmlnaHR9LmMzLWFyZWF7c3Ryb2tlLXdpZHRoOjA7b3BhY2l0eTouMn0uYzMtY2hhcnQtYXJjcy10aXRsZXtkb21pbmFudC1iYXNlbGluZTptaWRkbGU7Zm9udC1zaXplOjEuM2VtfS5jMy1jaGFydC1hcmNzIC5jMy1jaGFydC1hcmNzLWJhY2tncm91bmR7ZmlsbDojZTBlMGUwO3N0cm9rZTpub25lfS5jMy1jaGFydC1hcmNzIC5jMy1jaGFydC1hcmNzLWdhdWdlLXVuaXR7ZmlsbDojMDAwO2ZvbnQtc2l6ZToxNnB4fS5jMy1jaGFydC1hcmNzIC5jMy1jaGFydC1hcmNzLWdhdWdlLW1heCwuYzMtY2hhcnQtYXJjcyAuYzMtY2hhcnQtYXJjcy1nYXVnZS1taW57ZmlsbDojNzc3fS5jMy1jaGFydC1hcmMgLmMzLWdhdWdlLXZhbHVle2ZpbGw6IzAwMH1cbiJdfQ== */
