@import "../vendor/normalize";
@import "../vendor/c3";
@import "../vendor/md-font";
@import "../vendor/player-skin";

// ********** Variables **********

// Colors

$black: #222;
$c_angry: #FDB813;
$c_applause: #b9fd75;
$c_dislike: #FF8C00;
$c_like: #575DA9;
$c_love:#EC028C;
$darkPurple: #1B1B1C;
$green: #88BC2B;
$lightBlack: #111112;
$lightPurple: #9FA5FF;
$magenta: #EC028C;
$mediumPurple: #3B3C68;
$orange: #FF8C00;
$purple: #575DA9;
$white: rgba(255,255,255,.9);
$whiteText: rgba(255,255,255,.5);
$yellow: #FDB813;

// Layout

$containerRightWidth: 350px;
$footerHeight: 45px;
$paddingBase: 7px;
$tabNavHeight: 35px;
$tabContentHeaderHeight: 45px;
$tabContentFooterHeight: 45px;

// ********** Global Styles **********

// HTML

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Body

body {
  color: $whiteText;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1 {
  font-size: 1.5em;
}

hr {
  border-color: $whiteText;
}

// Input

input {
  background: rgba(0,0,0,.4);
  border: none;
  color: $whiteText;
  font-size: 1em;
  padding: $paddingBase;

  &:active, &:focus {
    background: rgba(255,255,255,.05);
  }
}

// ********** Helpers **********

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.p-base {
  padding: $paddingBase;
}

.plr-base {
  padding-left: $paddingBase;
  padding-right: $paddingBase;
}

.plr-base-2 {
  padding-left: $paddingBase * 2;
  padding-right: $paddingBase * 2;
}

.pull-right {
  float: right;
}

.ptb-base {
  padding-bottom: $paddingBase;
  padding-top: $paddingBase;
}

.ptb-base-2 {
  padding-bottom: $paddingBase * 2;
  padding-top: $paddingBase * 2;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

// ********** Containers **********

.analytics-view {
  background-color: $lightBlack;
  overflow: hidden;

  .container {
    &, .container-top, .container-left, .container-right, .top, .bottom{
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;
    }

    .top { border-bottom: 5px solid black; height: 60%; }
    .bottom { top: 60%; }

    .container-left {
      border: 5px solid black;
      border-bottom: 0;
      border-right: 0;
      top: 45px;
      width: 50%;

      .azuremediaplaery .vjs-tech {
        top: 0;
      }

      .bottom {
        .playhead {
          height: calc(100% - 95px);
          top: 60px;
        }
      }

      .top {
        background: black;
      }
    }

    .container-right {
      border: 5px solid black;
      border-bottom: 0;
      left: 50%;
      top: 45px;

      .bottom {
        .playhead {
          height: 180px;
          top: 60px;
        }
      }

      .top {
        .playhead {
          height: calc(100% - 220px);
          top: 180px;
        }
      }
    }

    .container-top {
      background: black;
      height: 45px;

      .tab-container {
        height: initial;
        position: absolute;
        right: 0px;
        top: 7px;
        width: 200px;
      }
    }
  }

}

.attendee-view {
  background-color: $lightBlack;
  overflow: hidden;

  .container {
    &, .container-left, .container-right, .bottom, .top {
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;
    }

    .container-left {
      border-right: 3px solid black;
      bottom: 45px;
      width: calc(100% - #{$containerRightWidth});

      .top {
        height: 45px;
        padding: 9px 14px;
        z-index: 1;
      }

      .bottom {
        bottom: -45px;
        height: 45px;
        text-align: right;
        top: auto;
      }
    }

    .container-right {
      left: calc(100% - #{$containerRightWidth});
    }
  }
}

.communicator-view {
  background-color: $lightBlack;

  .container {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    width: 300px;

    textarea {
      background: $black;
      color: white;
      border: none;
      height: 100px;

      &:active, &:focus {
        background: $whiteText;
      }
    }
  }
}

.index-view {
  background-color: $lightBlack;

  .links {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    width: 200px;
  }
}

// ********** Components **********

// AMP

.azuremediaplaery {

  &.amp-stream-skin .vjs-loading-spinner {
    background: url('../images/stream-theme/streamloading.png');
    width: 170px;
    height: 75px;
    animation: loading 1.5s steps(48) infinite;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }

  &.amp-stream-skin .vjs-loading-spinner:before {
      content: none;
  }

  @keyframes loading {
    100% {
      background-position: -8160px;
    }
  }

  &.amp-stream-skin .amp-logo {
    display: none;
  }

  &.amp-stream-skin .amp-logo > div, .amp-stream-skin .amp-logo > span {
    background-image: none;
  }

  .amp-content-title {
    display: none;
  }

  .vjs-control-bar {
    background-color: black;
  }

  .vjs-progress-holder {
    background: $lightBlack;

    .vjs-load-progress{
      background: $whiteText;
    }

    .vjs-play-progress {
      background: $lightPurple;
    }

  }

  .vjs-tech {
    background: black;
    height: calc(100% - 45px);
    position: absolute;
    top: 45px;
    width: 100%;
  }
}

// Button

.button {
  background: transparent;
  border: 1px solid $whiteText;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  outline: none;
  padding: $paddingBase;
  text-decoration: none;

  &.button-block {
    display: block;
    margin-top: $paddingBase;
    width: 100%;
  }

  &:hover {
    background: rgba(255,255,255,.1);
  }

  &:active {
    background: rgba(255,255,255,.3);
    outline: none;
  }

  &.button-purple {
    background: $lightPurple;
    border-color: $lightPurple;
    color: $black;

    &:hover {
      background: lighten($lightPurple, 3);
    }

    &:active {
      background: lighten($lightPurple, 7);
    }
  }
}

// c3 Global

@mixin iconLabel {
  background-size: contain;
  content: "";
  display: inline-block;
  height: 10px;
  margin-left: 12px;
  margin-top: -2px;
  width: 10px;
}

@mixin lineColor($color) {
  .c3-circle { fill: $color !important; }
  .c3-line { stroke: $color !important; }
}

.c3 {

  .c3-axis {
    stroke: $whiteText;
  }

  .c3-legend-item {
    text {
      fill: $whiteText;
    }
  }

  .c3-target {
    &.c3-target-angry { @include lineColor($c_angry); }
    &.c3-target-applause { @include lineColor($c_applause); }
    &.c3-target-dislike { @include lineColor($c_dislike); }
    &.c3-target-like { @include lineColor($c_like); }
    &.c3-target-love { @include lineColor($c_love); }
  }

  .c3-tooltip {
    background: none;
    border: none;
    box-shadow: 3px 3px 12px 0 rgba(0,0,0,.2);

    tr {
      border: 1px solid rgba(255,255,255,.1);

      &[class^="c3-tooltip-name"] td.name span {
        border-radius: 20px;
        margin-right: 20px;
      }

      &.c3-tooltip-name--angry td.name span {
        background: $c_angry !important;
        &:after {
          background: transparent url('../images/sad.png') no-repeat;
          @include iconLabel();
        }
      }

      &.c3-tooltip-name--applause td.name span {
        background: $c_applause !important;
        &:after {
          background: transparent url('../images/applause.png') no-repeat;
          @include iconLabel();
        }
      }

      &.c3-tooltip-name--dislike td.name span {
        background: $c_dislike !important;
        &:after {
          background: transparent url('../images/thumbs_down.png') no-repeat;
          @include iconLabel();
        }
      }

      &.c3-tooltip-name--like td.name span {
        background: $c_like !important;
        &:after {
          background: transparent url('../images/thumbs_up.png') no-repeat;
          @include iconLabel();
        }
      }

      &.c3-tooltip-name--love td.name span {
        background: $c_love !important;
        &:after {
          background: transparent url('../images/happy.png') no-repeat;
          @include iconLabel();
        }
      }
    }

    th {
      background-color: $black;
      text-align: right;
    }

    td {
      background-color: $black;
      border-left: 0;
      color: $white;
    }
  }

  .tick {

    line {
      stroke: $whiteText;
    }

    text {
      fill: $whiteText;
    }

  }
}

// Comment

.comment {
  -webkit-transition: opacity 333ms ease-in;
  -moz-transition: opacity 333ms ease-in;
  -ms-transition: opacity 333ms ease-in;
  -o-transition: opacity 333ms ease-in;
  transition: opacity 333ms ease-in;

  opacity: 0;

  &.visible {
    opacity: 1;
  }

  td {
    padding: $paddingBase;
    vertical-align: top;

    &.comment-cell {
      width: 100%;
    }
  }

  .comment-avatar {
    border: 2px solid $whiteText;
    height: 35px;
    width: 35px;
    border-radius: 35px;
  }

  .comment-comment {
    color: $whiteText;
    margin: 0;
  }

  .comment-name {
    color: $white;
    margin: 0;
  }

  .comment-time {
    color: $white;
    text-align: right;
  }
}

// Emoji Select

ul.emoji-select {
  list-style-type: none;
  margin: 0;
  padding: $paddingBase;
  text-align: right;

  li.emoji-select-option {
    color: $whiteText;
    cursor: pointer;
    display: inline-block;
    padding: 0 $paddingBase;

    img {
      height: 30px;
      width: 30px;
    }

    &:hover {
      transform: scale(1.15);
    }

    &:active {
      transform: scale(.85);
    }
  }
}

// Hoverable

.hoverable {
  cursor: pointer;

  &.hoverable-purple:hover {
    color: $lightPurple;

    & > g {
      fill: $lightPurple !important;
    }
  }

  &.hoverable-white:hover {
    color: $white;
  }
}

// Input with icon

.input-with-icon {
  display: inline-block;
  position: relative;

  input {
    width: 100%;
  }

  // TODO: Make programatic
  input + i {
    left: calc(100% - 30px);
    position: absolute;
    top: 5px;
  }
}

// Page title

h1.page-title {
  @extend .m-0;

  .live-badge {
    background-color: $lightPurple;
    border-radius: 7px;
    color: $black;
    display: inline-block;
    font-size: .5em;
    font-weight: bold;
    margin-top: 5px;
    padding: 3px $paddingBase;
    text-transform: uppercase;
    vertical-align: top;
  }
}

// Playhead

.playhead {
  background: rgba($whiteText, .3);
  height: 100%;
  left: 60px;
  position: absolute;
  top: 0;
  width: 3px;
}

// Search Transcript

.search-transcript {

  i {
    color: $whiteText;
    font-size: 1.5em;
    margin: 1px 7px;
  }

  .input-with-icon {
    margin-right: 5px;
    width: calc(#{$containerRightWidth - $paddingBase * 2} * .75);
  }
}

// Selection Group

ul.selection-group {
  list-style-type: none;
  margin: 0;
  padding: $paddingBase 0;

  li {
    cursor: pointer;
    padding: $paddingBase * 2 $paddingBase;

    &:hover, &.active {
      background: $mediumPurple;
    }
  }
}

// Tab Container

.tab-container {
  height: 100%;
  position: relative;

  .tab-content-container {
    bottom: 0;
    display: none;
    top: $tabNavHeight;
    position: absolute;
    width: 100%;

    &.active {
      display: block;
    }

    .tab-content-header {
      height: $tabContentHeaderHeight;
      padding: $paddingBase;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .tab-content-content {
      bottom: $tabContentFooterHeight;
      overflow: auto;
      position: absolute;
      top: $tabContentHeaderHeight;
    }

    .tab-content-footer {
      bottom: 0;
      height: $tabContentFooterHeight;
      position: absolute;
      width: 100%;
    }

    &#qa_comments {
      .tab-content-content {
        bottom: $tabContentFooterHeight * 2;
        top: 0;
      }
      .tab-content-footer {
        height: $tabContentFooterHeight * 2;
      }
    }

    &#yammer_comments {
      .tab-content-content {
        bottom: 0;
        top: 45px;
      }
    }
  }

  ul.tab-nav {
    height: $tabNavHeight;
    list-style-type: none;
    margin: 0;
    padding: $paddingBase;
    position: absolute;
    text-align: right;
    width: 100%;

    li.tab-link {
      color: $whiteText;
      display: inline-block;
      font-size: 1.5em;
      padding: 0 10px;

      & > svg > g {
        fill: $whiteText;
      }

      &.active {
        color: $lightPurple;

        & > svg > g {
          fill: $lightPurple !important;
        }
      }
    }
  }
}

// Tab Slide Up

.tab-slide-up {
  background: $black;
  bottom: -350px;
  height: 350px;
  left: $paddingBase;
  padding: 0 $paddingBase;
  position: absolute;
  transition: all 333ms ease;
  width: $containerRightWidth - (2 * $paddingBase);

  &.active {
    bottom: $tabContentFooterHeight;
  }
}

// Transcription Footer

.transcription-footer {
  background: $lightBlack;
  color: $whiteText;
  font-size: .75em;
  height: 100%;
  width: 100%;

  td {
    text-align: center;
    width: 50%;
  }
}

// Transcribed Text

.transcribed-text {
  -webkit-transition: opacity 333ms ease-in;
  -moz-transition: opacity 333ms ease-in;
  -ms-transition: opacity 333ms ease-in;
  -o-transition: opacity 333ms ease-in;
  transition: opacity 333ms ease-in;

  opacity: 0;

  &.visible {
    opacity: 1;
  }

  td {
    padding: $paddingBase;
    vertical-align: top;
  }

  .transcribed-text-text {
    color: $whiteText;
    margin: 0;
    text-align: left;
    width: 100%;
  }

  .transcribed-text-time {
    color: $white;
    text-align: right;
  }
}

// Visualization

#viz_engagement {
  .c3-legend-item {
    display: none;
  }
}

.viz-filters {
  padding: $paddingBase;
  text-align: center;

  .viz-filter {
    background: $darkPurple;
    cursor: pointer;
    display: inline-block;
    height: 100px;
    padding: $paddingBase*2;
    text-align: center;
    width: 100px;

    &:hover {
      box-shadow: inset 0 0 15px 0 $mediumPurple;
    }

    &.active {
      background: $mediumPurple;
    }

    .viz-filter-swatch {
      background: pink;
      border-radius: 10px;
      height: 10px;
      width: 10px;
    }

    .viz-filter-image-container {
      text-align: center;
      width: 100%;

      img.viz-filter-image {
        width: 40px;
      }
    }

    &[data-filter="angry"] .viz-filter-swatch { background: #FDB813; }
    &[data-filter="applause"] .viz-filter-swatch { background: #b9fd75; }
    &[data-filter="dislike"] .viz-filter-swatch { background: #FF8C00; }
    &[data-filter="like"] .viz-filter-swatch { background: #575DA9; }
    &[data-filter="love"] .viz-filter-swatch { background: #EC028C; }
  }
}

#viz_speakers {

  .speaker-container {
    margin-top: $paddingBase;
    padding: $paddingBase $paddingBase * 2;
    position: relative;

    .speaker-avatar {
      img {
        border: 2px solid $whiteText;
        border-radius: 40px;
        height: 40px;
        width: 40px;
      }
    }

    .speaker-name {
      height: 20px;
      left: 60px;
      position: absolute;
      top: $paddingBase;
    }

    .speaker-timeline {
      height: 16px;
      left: 60px;
      position: absolute;
      top: $paddingBase * 4;
      width: calc(100% - 89px);  // 75 + pb*2

      &:before {
        background-color: $whiteText;
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        top: 50%;
        width: 100%;
      }

      .speaker-block {
        background: rgba($green, .8);
        border-radius: 16px;
        height: 16px;
        position: absolute;
      }
    }
  }

  #timeline_scrubber {
    background-color: $whiteText;
    display: none;
    height: 180px;
    left: 50px;
    position: absolute;
    top: 60px;
    width: 1px;

    &.active {
      display: block;
    }
  }
}
